*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar{
  height: 15vh;
  background-color: black;
  padding: 0 60px;
}

.nav-bar h1{
  color: red;
}

.main{
  height: 85vh;
  background-color: grey;
  padding-top: 30px ;
  display: flex;
  flex-wrap: wrap;

}

.box-movie{
  height: 342px;
  width: 260px;
  margin: 30px;
  /* background-color: red; */
}

.box-description-movie{
  width: 100%;
  height: 100%;
  background-color: black;
  border: 2px solid white;
  display: none;
  padding: 10px;
}

.box-movie:hover .box-description-movie{
  display: block;
}

p{
  color: white;
}

.scroll{
  height: 85vh;
  overflow-y: scroll;

}

.box-description-movie p img {
  width: 30px;
}

.box-movie > img{
  height: 100%;
  width: 100%;
  border: 2px solid white;
}



.box-movie:hover .copertina{
  display: none;
}
